{% include 'include/header.html' %}
<div class="row xtra_vert_space">
    <div class="col-md-1 hidden-xs">
        <image src="{{ base_url() }}/assets/images/gartner.png" />
    </div>
    <div class="col-md-10 service-desc">
        <h4 class="module-subhead"><a href="{{ base_url() }}/gartner">Gartner Login  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></h4>
        Gartner, a leading global information technology research organization, and USF have teamed up to provide the university system with access to a wide variety of core research information for all students, faculty, and staff.
    </div>
</div>
{% include 'include/footer.html' %}
